<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-stroked-button [matMenuTriggerFor]="userMenu">
    <div style="display: flex; align-items: center; vertical-align: middle;">
    <span>{{ sessionManagementService.getProfile()['given_name'] }}</span>
    <span style="margin-right: 0.6rem;"></span>
    <img [ngSrc]="sessionManagementService.getProfile()['picture']"
         style="border-radius: 180px"
         width="30"
         height="30"
         alt="user image"
    />
    </div>
  </button>
  <mat-menu #userMenu>
    <button mat-menu-item (click)="sessionManagementService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="app-content">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      @for (navItem of navItems; track navItem) {
        <mat-list-item [activated]="navItem.active ?? false" (click)="activate(navItem)">{{navItem.label}}</mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin: 2em;">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
