.app-content {
  height: 100%;
}

.sidenav-content {
  margin: 2em auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-outlined-button {
  border-radius: 135px;
}

.button-label-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.button-label-spacer {
  margin-right: 0.6rem;
}

.profile-icon {
  border-radius: 180px;
}

.content-container {
  margin: 2em;
}
