.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.address-card {
  min-width: 150px;
  margin: 20px auto;
}

.full-width {
  width: 100%;
}

.card {
  min-width: 150px;
  margin: 20px auto;
}

.profile-icon {
  border-radius: 180px;
}

.mat-card-header-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.spacer {
  margin-right: 0.6rem;
}
