<mat-card>
  <mat-card-header>
    <mat-card-title>Material Design 3 Roles</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-container">
      @for (roleColor of roleColorMap | keyvalue; track roleColor) {
        <div class="item">
          <span>
            {{roleColor.key}}
          </span>
          <span>
            <mat-icon style="color: {{roleColor.value}}">circle</mat-icon>
          </span>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
